<div class="question-detail mt-32 text-xl font-yuji-syuku">
  <h2><%= @question.question_text %></h2>
  <% if @question.image_question.present? %>
    <%= image_tag(@question.image_question.picture.url) %>
  <% end %>
  <%= form_with model: @answer, url: answer_question_path(@question), local: true, data: { turbo: false } do |form| %>
    <% @question.options.order(:position).each do |option| %>
      <div class="field">
        <%= check_box_tag 'answer[selected_option_ids][]', option.id, false, id: "selected_option_ids_#{option.position}" %>
        <%= label_tag "selected_option_ids_#{option.position}", option.option_text %>
      </div>
    <% end %>
    <%= form.submit "Answer!", class: "mt-16 bg-custom-button-3 hover:bg-hover-button-1 text-custom-text btn text-xl" %>
  <% end %>
</div>
