<div class="question-detail">
  <h2><%= @question.question_text %></h2>
  <% if @question.image_question.present? %>
    <%= image_tag(@question.image_question.picture.url) %>
  <% end %>
  <%= form_with model: @answer, url: question_answers_path(@question), local: true do |form| %>
    <% @question.options.each do |option| %>
      <div class="field">
        <%= form.radio_button :selected_option_id, option.id %>
        <%= form.label :selected_option_id, option.option_text, value: option.id %>
      </div>
    <% end %>
    <%= form.submit "Answer!", class: "btn btn-primary" %>
  <% end %>
</div>
