<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
  <%= javascript_import_module_tag "toggle_memo" %>
<% end %>

<%= render 'questions/question_detail', question: @question, answer: @answer %>

<% if @question.memo.present? %>
  <button id="toggle-memo" class="btn btn-info">メモを見る</button>
  <div id="content" style="display:none;">
    <div class="memo" style="white-space: pre-wrap;">
      <%= @question.memo.content %>
    </div>
  </div>
<% end %>

<% memo = @question.memo || @question.build_memo %>
<%= form_with(model: [ @question, memo ], local: true) do |form| %>
  <div class="field">
    <%= form.label :content, "メモ" %>
    <%= form.text_area :content, rows: 3 %>
  </div>
  <%= form.submit memo.persisted? ? "メモを更新" : "メモを保存", class: "btn btn-primary" %>
<% end %>
