<div class="flex flex-col items-center justify-center h-screen space-y-4">
  <%= link_to '過去問を解く', questions_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  <%= link_to 'ノート作成', notebooks_path, class: 'btn btn-primary' %>
  <%= link_to '単語帳', wordbooks_path, class: 'btn btn-primary' %>
  <%= link_to '気持ちを共有してみる', messages_path, class: 'btn btn-primary' %>
  <%= link_to '日記', diaries_path, class: 'btn btn-primary' %>
</div>
