<% content_for(:title, t('.title')) %>
<div class="container mx-auto px-4 font-yuji-syuku">
  <div class="text-center">
    <%= image_tag('ogp.png', alt: 'MT*Life Logo', class: 'h-auto mx-auto', style: 'width: 450px;') %>
  </div>
  <div class="flex flex-wrap justify-center -mx-2">
    <div class="w-full px-2 mb-4 relative"
        style="background-image: url('<%= asset_path('top_2.png') %>');
                background-size: contain;
                background-position: 10% 30%;
                background-repeat: no-repeat;
                height: 450px;">
      <p class="absolute text-center font-bold text-3xl" style="top: 30%; left: 11%; color: #01363D;">臨床検査技師<br><br>国家試験に向けて<br><br>学習していきましょう！</p>
    </div>

    <div class="w-full px-2 mb-4 relative"
        style="background-image: url('<%= asset_path('top_3.png') %>');
                background-size: contain;
                background-position: 90% 50%;
                background-repeat: no-repeat;
                height: 450px;">
      <p class="absolute text-center font-bold text-2.25xl" style="top: 19%; right: 11%; color: #471B08;">過去問は<br><br>・分野別<br>・年度別<br>・ランダム<br><br>など解き方を選択できます。</p>
    </div>

    <div class="w-full px-2 mb-4 relative"
        style="background-image: url('<%= asset_path('top_1.png') %>');
                background-size: contain;
                background-position: 10% 70%;
                background-repeat: no-repeat;
                height: 450px;">
      <p class="absolute text-center font-bold text-2.25xl" style="top: 30%; left: 10%; color: #3B0101;">過去問を解きながら<br>ちょっとしたメモを残したり、<br><br>オリジナルノートや単語帳を<br>作ることができます。</p>
    </div>
  </div>
  <div class="text-center mt-32">
    <div class="inline-flex justify-center gap-28 mb-20">
      <%= link_to 'Start !', new_user_path, class: 'font-caveat bg-custom-top-button-orange text-custom-top-text-brown hover:bg-custom-top-button-hover-orange text-2xl py-4 px-8 rounded-lg shadow' %>
      <%= link_to 'Log in', login_path, class: 'font-caveat bg-custom-top-button-yellowgreen text-custom-top-text-green hover:bg-custom-top-button-hover-yellowgreen text-2xl py-4 px-8 rounded-lg shadow' %>
      <%= button_to "Guest Login", guest_login_path, method: :post, class: 'font-caveat bg-custom-post-delete text-custom-top-text-green hover:bg-custom-post-delete-hover text-2xl py-4 px-8 rounded-lg shadow' %>
    </div>
  </div>
</div>
