<% content_for(:title, t('defaults.edit')) %>
<div class="container font-yuji-syuku">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>プロフィール編集</h1>
      <%= form_with model: @user, url: profile_path, local: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control mb-3" %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control mb-3" %>
        </div>
        <div class="form-group" data-controller="avatar-preview">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, data: { controller: "avatar-preview", action: "change->avatar-preview#preview", avatar_preview_target: "image" }, class: "form-control", accept: 'image/*' %>
          <%= f.hidden_field :avatar_cache %>
          <img id="preview" src="<%= asset_path('avatar.png') %>" class="rounded-circle" style="width: 100px; height: 100px;">
        </div>
        <%= f.submit  class: "bg-custom-button-3 hover:bg-hover-button-2 text-custom-text btn text-xl" %>
      <% end %>
    </div>
  </div>
</div>
