<% content_for(:title, t('defaults.profile')) %>
<div class="container font-yuji-syuku pt-3 min-h-screen flex justify-center items-center">
  <div class="row w-full">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5">プロフィール</h1>
      <% if @user == current_user %>
        <%= link_to 'プロフィール編集', edit_profile_path, class: 'btn btn-success float-right' %>
      <% else %>
      <!-- チャットルームへのリンクまたは新規作成フォーム -->
        <% if @isRoom %>
          <%= link_to room_path(@roomId), class: 'btn btn-primary' do %>
            <i class="fas fa-envelope"></i> メッセージを送る
          <% end %>
        <% else %>
          <%= form_with model: @room, url: rooms_path, local: true, data: { turbo: false } do |f| %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= fields_for :entry, @entry do |e| %>
              <%= e.hidden_field :user_id, value: current_user.id %>
            <% end %>
            <%= f.submit "新規チャットを開始", class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
      <table class="table">
        <tr>
          <th scope="row">氏名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">アバター</th>
          <td><%= image_tag @user.avatar.url, class: "rounded-full w-10 h-10 object-cover" %></td>
        </tr>
        <!-- LINE通知設定表示部分をテーブルに組み込む -->
        <% if @user == current_user %>
          <tr>
            <th scope="row">LINE通知設定</th>
            <td>
              <% if @user.authentications.exists?(provider: 'line') %>
                <div class="alert alert-info">
                  LINE通知は設定済みです。
                  <!-- 通知設定管理のリンクやフォームをここに配置 -->
                </div>
              <% else %>
                <div class="alert alert-warning">
                  LINE通知を受け取るには、先にLINEでログインする必要があります。
                  <%= link_to 'LINEでログイン', auth_at_provider_path(provider: :line), class: 'btn btn-primary' %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


