<% content_for(:title, t('defaults.profile')) %>
<div class="container font-yuji-syuku pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5">プロフィール</h1>
      <% if @user == current_user %>
        <%= link_to 'プロフィール編集', edit_profile_path, class: 'btn btn-success float-right' %>
      <% else %>
      <!-- チャットルームへのリンクまたは新規作成フォーム -->
        <% if @isRoom %>
          <%= link_to room_path(@roomId), class: 'btn btn-primary' do %>
            <i class="fas fa-envelope"></i> メッセージを送る
          <% end %>
        <% else %>
          <%= form_with model: @room, url: rooms_path, local: true, data: { turbo: false } do |f| %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= fields_for :entry, @entry do |e| %>
              <%= e.hidden_field :user_id, value: current_user.id %>
            <% end %>
            <%= f.submit "新規チャットを開始", class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      <% end %>
      <table class="table">
        <tr>
          <th scope="row">氏名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row">アバター</th>
          <td><%= image_tag @user.avatar.url, size: '40x40', class: 'rounded-circle mr15' %></td>
        </tr>
      </table>
    </div>
  </div>
</div>


