<% is_current_user = current_user == direct_message.user %>
<div class="direct_message flex <%= is_current_user ? 'justify-end' : 'justify-start' %> items-start my-2" data-message-id="<%= direct_message.id %>" data-user-id="<%= direct_message.user.id %>">
  <div class="<%= is_current_user ? 'bubble-right bg-blue-300' : 'bubble-left bg-green-200' %> flex items-center max-w-xs md:max-w-md lg:max-w-lg xl:max-w-xl px-4 py-2 rounded-lg">
    <% if is_current_user %>
      <div class="flex flex-col mr-4">
        <p class="whitespace-pre-line break-words dm_content mt-6"><%= direct_message.message_content %></p>
        <p class="text-xs text-right text-gray-500 message_time mt-2"><%= direct_message.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      </div>
      <div class="flex flex-col items-end">
        <p class="text-sm text-gray-500 user_name"><%= direct_message.user.name %></p>
        <img src="<%= direct_message.user.avatar.url %>" class="rounded-full w-10 h-10 object-cover mt-1">
      </div>
    <% else %>
      <div class="flex flex-col items-start">
        <p class="text-sm text-gray-500 user_name"><%= direct_message.user.name %></p>
        <img src="<%= direct_message.user.avatar.url %>" class="rounded-full w-10 h-10 object-cover mt-1">
      </div>
      <div class="flex flex-col ml-4">
        <p class="whitespace-pre-line break-words dm_content mt-6"><%= direct_message.message_content %></p>
        <p class="text-xs text-right text-gray-500 message_time mt-2"><%= direct_message.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      </div>
    <% end %>
  </div>
</div>