<%= content_for :title, t('.title') %>
<div class="min-h-screen flex flex-col">
  <div class="container mx-auto mt-8 font-yuji-syuku flex-grow">
    <h1 class="text-3xl font-bold text-center mb-6 p-3">単語帳一覧</h1>
      <div class="flex justify-end">
      <%= link_to '単語帳作成', new_wordbook_path, class: 'bg-custom-question-next-button btn hover:bg-custom-question-next-button-hover text-custom-memo-text' %>
      </div>
    <div>

    <div class="flex flex-wrap justify-center gap-4 mt-4 p-2">
      <% @wordbooks.each do |wordbook| %>
        <div class="card w-96 bg-base-100 shadow-xl">
          <div class="card-body flex justify-between items-center">
            <h2 class="card-title text-lg flex-grow">
              <%= link_to wordbook.collection, wordbook_words_path(wordbook) %>
            </h2>
            <div class="flex-none">
              <%= link_to '編集', edit_wordbook_path(wordbook), class: 'btn bg-custom-post-edit hover:bg-custom-post-edit-hover text-custom-text' %>
              <%= link_to '削除', wordbook_path(wordbook), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'この単語帳を削除してもよろしいですか？' }, class: 'btn bg-custom-post-delete hover:bg-custom-post-delete-hover text-custom-text' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>