<%= content_for :title, t('defaults.user_register') %>

<div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg mt-6 mb-6">
  <h1 class="font-yuji-syuku text-center text-gray-700 text-3xl font-bold mb-6"><%= t('.heading') %></h1>

  <%= form_with model: @user, local: true, html: { class: 'font-yuji-syuku space-y-6' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="flex">
      <div class="w-1/2 pr-2">
        <div class="mb-4">
          <%= f.label :name, class: 'block text-gray-700 font-bold mb-2' %>
          <%= f.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
        </div>

        <div class="mb-4">
          <%= f.label :email, class: 'block text-gray-700 font-bold mb-2' %>
          <%= f.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
        </div>

        <div class="mb-4">
          <%= f.label :password, class: 'block text-gray-700 font-bold mb-2' %>
          <%= f.password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
        </div>

        <div class="mb-4">
          <%= f.label :password_confirmation, class: 'block text-gray-700 font-bold mb-2' %>
          <%= f.password_field :password_confirmation, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
        </div>
      </div>

      <div class="w-1/2 pl-4 text-center" data-controller="avatar-preview">
        <%= f.label :avatar, '画像登録', class: 'block text-gray-700 font-bold mb-2' %>
        <%= f.file_field :avatar, id: 'avatar_upload', data: { controller: "avatar-preview", action: "change->avatar-preview#preview", avatar_preview_target: "image" }, class: "hidden" %>
        <label for="avatar_upload" class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-block">
          ファイルを選択
        </label>
        <img id="preview" src="<%= asset_path('avatar.png') %>" class="rounded-full mt-4 mx-auto shadow-lg" style="width: 100px; height: 100px;">
      </div>
    </div>

    <div class="flex justify-center mt-6">
      <%= f.submit t('.register'), class: 'bg-custom-question-button-blue hover:bg-custom-question-button-blue-hover text-custom-home-text-green btn text-xl py-2 px-4 rounded-full' %>
    </div>
  <% end %>

  <hr class="border-t-2 border-gray-300 my-6">

  <div class="flex justify-around mt-6 space-x-4 font-yuji-syuku">
    <%= link_to 'Google登録', auth_at_provider_path(provider: :google), class: 'bg-custom-question-button-blue hover:bg-custom-question-button-blue-hover text-text-custom-home-text-green btn text-xl py-2 px-4 rounded-full flex-1 text-center' %>
    <%= link_to 'LINE登録', auth_at_provider_path(provider: :line), class: 'bg-custom-question-button-blue hover:bg-custom-question-button-blue-hover text-text-custom-home-text-green btn text-xl py-2 px-4 rounded-full flex-1 text-center' %>
  </div>
</div>