<%= content_for :title, t('.title') %>
<h1 class="text-center text-gray-700 text-xl font-bold mb-6"><%= t('.heading') %></h1>

<%= form_with model: @user, local: true, html: { class: 'space-y-4' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="mb-4">
    <%= f.label :name, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>
  <div class="mb-4">
    <%= f.label :email, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>
  <div class="mb-4">
    <%= f.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>
  <div class="mb-4">
    <%= f.label :password_confirmation, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.password_field :password_confirmation, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>
  <div class="mb-4" data-controller="avatar-preview">
    <%= f.label :avatar, class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.file_field :avatar, data: { controller: "avatar-preview", action: "change->avatar-preview#preview", avatar_preview_target: "image" }, class: "form-control", accept: 'image/*' %>
    <img id="preview" src="<%= asset_path('sample.webp') %>" class="rounded-circle" style="width: 100px; height: 100px;">
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit t('.register'), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  </div>
<% end %>

