<%= content_for :title, t('.title') %>
<div class="container mx-auto p-3 font-yuji-syuku">
  <h1 class="text-3xl font-bold text-center my-8">単語を編集</h1>
  <div class="max-w-2xl mx-auto bg-white rounded-lg shadow-md">
    <%= form_with(model: [@wordbook, @word], local: true, class: "max-w-xl mx-auto font-yuji-syuku") do |form| %>
      <div class="p-6">
        <div class="mb-4">
          <%= form.label :term, "単語", class: "block text-lg font-medium text-gray-700 mb-2" %>
          <%= form.text_field :term, class: "input input-bordered w-full" %>
        </div>
        <div class="field mb-6">
          <%= form.label :definition, "意味", class: "block text-lg font-medium text-gray-700 mb-2" %>
          <%= form.text_area :definition, class: "textarea textarea-bordered w-full", rows: 3 %>
        </div>
        <div class="actions text-right">
          <%= form.submit "更新", class: "bg-custom-post-edit hover:bg-custom-post-edit-hover text-custom-text3 rounded-lg py-2 px-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>