<%= content_for :title, t('.title') %>
<h1 class="text-3xl font-semibold text-center my-6">単語を編集する</h1>

<%= form_with(model: [@wordbook, @word], local: true, class: "max-w-xl mx-auto") do |form| %>
  <div class="field mb-6">
    <%= form.label :term, "単語", class: "block text-lg font-medium text-gray-700 mb-2" %>
    <%= form.text_field :term, class: "input input-bordered w-full" %>
  </div>

  <div class="field mb-6">
    <%= form.label :definition, "意味", class: "block text-lg font-medium text-gray-700 mb-2" %>
    <%= form.text_area :definition, class: "textarea textarea-bordered w-full", rows: 3 %>
  </div>

  <div class="actions text-right">
    <%= form.submit "更新", class: "btn btn-primary" %>
  </div>
<% end %>