<%= content_for :title, t('.title') %>
<div class="absolute inset-0 flex items-center justify-center">
  <div class="container mx-auto mt-8 font-yuji-syuku">
    <h1 class="text-2xl font-bold text-center mb-6">単語の追加</h1>
    <%= form_with(model: [@wordbook, @word], local: true, data: { turbo: false }) do |form| %>
      <div class="max-w-xl mx-auto shadow-lg rounded-lg p-6 bg-white">
        <div class="mb-4">
          <%= form.label :term, "単語", class: "block text-sm font-medium text-gray-700 mb-2" %>
          <%= form.text_field :term, required: true, class: "input input-bordered w-full" %>
        </div>
        <div class="mb-4">
          <%= form.label :definition, "意味", class: "block text-sm font-medium text-gray-700 mb-2" %>
          <%= form.text_area :definition, required: true, class: "textarea textarea-bordered w-full", rows: 4 %>
        </div>
        <div class="flex justify-end mt-4">
          <%= form.submit "保存", class: "bg-custom-post-edit hover:bg-custom-post-edit-hover text-custom-text3 flex items-center justify-center btn text-base" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
