<%= content_for :title, t('.title') %>
<div class="container mx-auto p-3 font-yuji-syuku">
  <h1 class="text-3xl font-bold text-center my-8">メッセージ一覧</h1>
  <div class="overflow-x-auto">
    <table class="table-auto w-full">
      <% @anotherEntries.each do |e| %>
        <tr id="room_<%= e.room.id %>" class="border-b">
          <td class="py-2 px-2 sm:px-4 flex items-center">
            <!-- 名前からroomの詳細に飛べるようにリンク化 -->
            <%= link_to room_path(e.room.id), data: { room_link: true, room_id: e.room.id } do %>
              <%= image_tag(e.user.avatar? ? e.user.avatar.url : 'avatar.png', class: "rounded-full w-8 h-8 object-cover mr-2", alt: "Profile Image") %>
              <span class="font-medium"><%= e.user.name %></span>
            <% end %>
          </td>
          <td class="py-2 px-2 sm:px-4">
            <!-- 通知アイコン -->
            <span class="notify-icon" style="<%= @notifications.include?(e.room.id) ? '' : 'display: none;' %>">
              <i class="fas fa-bell text-red-500"></i>
            </span>
          </td>
          <td class="py-2 px-2 sm:px-4 max-w-xs truncate">
            <!-- 最新メッセージ内容の最初の10文字を表示する -->
            <%= truncate(e.room.direct_messages.last&.message_content || "", length: 10) %>
          </td>
          <td class="py-2 px-2 sm:px-4 text-gray-500">
            <h6><%= e.updated_at.strftime("%Y/%m/%d %H:%M") %></h6>
          </td>
          <td class="py-2 px-2 sm:px-4 text-center">
            <!-- ゴミ箱アイコンクリックでroomを消せるようにする -->
            <%= link_to room_path(e.room.id), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, title: "削除" do %>
              <i class="fas fa-trash text-black"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>