<%= content_for :title, "æŠ•ç¨¿å±¥æ­´" %>
<div class="container mx-auto p-3 font-yuji-syuku">
  <h1 class="text-3xl font-bold text-center my-8">æŠ•ç¨¿å±¥æ­´</h1>
  <div class="flex justify-start mb-10 gap-10">
    <%= link_to 'ðŸ“', new_post_path, class: "bg-custom-post-edit hover:bg-custom-post-edit-hover text-custom-text3 rounded-lg py-2 px-6 flex items-center justify-center text-3xl" %>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
    <% @posts.each do |post| %>
      <div class="bg-white rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out">
        <div class="p-6">
          <div class="flex items-center mb-4">
            <%= link_to user_profile_path(post.user) do %>  
              <% if post.user.avatar? %>
                <img src="<%= post.user.avatar.url %>" alt="<%= post.user.name %>ã®ã‚¢ãƒã‚¿ãƒ¼" class="w-16 h-16 rounded-full mr-4">
              <% else %>
                <img src="<%= asset_path('avatar.png') %>" alt="ãƒ‡ãƒ•ã‚©ãƒ«ãƒˆã‚¢ãƒã‚¿ãƒ¼" class="w-16 h-16 rounded-full mr-4">
              <% end %>
              <strong class="text-lg"><%= post.user.name %></strong>
            <% end %>
          </div>
          <div class="border-t border-gray-300 my-5"></div>
          <div class="bg-custom-post p-2 rounded-lg max-h-32 overflow-y-auto overflow-x-hidden h-32">
            <p class="text-gray-800 text-base mb-2  whitespace-pre-line"><%= post.post_content %></p>
          </div>
          <span class="text-gray-600 text-sm block">æŠ•ç¨¿æ—¥: <%= post.created_at.strftime("%Y/%m/%d") %></span>
          <div class="mt-4 flex justify-end space-x-2">
            <%= link_to 'ç·¨é›†', edit_post_path(post), class: "bg-custom-post-edit hover:bg-custom-post-edit-hover text-custom-text3 rounded-lg py-2 px-4" %>
            <%= link_to 'å‰Šé™¤', post_path(post), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ' }, class: "bg-custom-post-delete hover:bg-custom-post-delete-hover text-custom-text4 rounded-lg py-2 px-4 rounded" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
