<%= content_for :title, t('.title') %>
<div class="container mx-auto p-3 font-yuji-syuku">
  <h1 class="text-3xl font-bold text-center my-8">投稿一覧</h1>
  <div class="flex justify-start mb-10 gap-10">
    <div class="flex items-center space-x-10">
      <%= link_to '📝', new_post_path, class: "bg-custom-post-edit hover:bg-custom-post-edit-hover text-custom-text3 rounded-lg py-2 px-6 flex items-center justify-center text-3xl" %>
      <% if @has_post_history %>
        <%= link_to '履歴', history_posts_path, class: "bg-custom-button-purple px-4 py-3 flex items-center justify-center rounded-lg hover:bg-custom-hover-lightblue text-custom-text-darkreddishpurple text-lg" %>
      <% end %>
      <div class="relative max-w-xs">
        <p class="text-gray-700 text-sm bg-custom-home-green border border-gray-300 rounded-lg p-4 shadow-lg">
          ユーザーをクリックするとメッセージを送ることができます。<br>
          次からは、ホームの"連絡"画面から<br>
          いつでもメッセージのやり取りが可能です。
        </p>
        <div class="absolute -left-2 top-1/2 transform -translate-y-1/2 w-0 h-0 border-t-8 border-t-transparent border-b-8 border-b-transparent border-r-8 border-gray-300"></div>
        <div class="absolute -left-1.5 top-1/2 transform -translate-y-1/2 w-0 h-0 border-t-8 border-t-transparent border-b-8 border-b-transparent border-r-8 border-custom-home-green"></div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
    <% @posts.each do |post| %>
      <div class="bg-white rounded-lg overflow-hidden shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out">
        <div class="p-6">
          <div class="flex items-center mb-4">
            <%= link_to user_profile_path(post.user) do %>  
              <% if post.user.avatar? %>
                <img src="<%= post.user.avatar.url %>" alt="<%= post.user.name %>のアバター" class="w-16 h-16 rounded-full mr-4">
              <% else %>
                <img src="<%= asset_path('avatar.png') %>" alt="デフォルトアバター" class="w-16 h-16 rounded-full mr-4">
              <% end %>
              <strong class="text-lg"><%= post.user.name %></strong>
            <% end %>
          </div>
          <div class="border-t border-gray-300 my-5"></div>
          <div class="bg-custom-post p-2 rounded-lg max-h-32 overflow-y-auto overflow-x-hidden h-32">
            <p class="text-gray-800 text-base mb-2  whitespace-pre-line"><%= post.post_content %></p>
          </div>
          <span class="text-gray-600 text-sm block">投稿日: <%= post.created_at.strftime("%Y/%m/%d") %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>